@mixin print-type ($font-family, $font-weight, $font-style, $woff2, $woff) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $woff2, $woff;
    font-display: swap;
  }
}

@mixin accent-mix-button {
  background-color: $accent-color;
  color: $accent-color-text;
  text-transform: uppercase;
}

@mixin media-font-size {
  font-size: 16px;
  line-height: 24px;
  color: $primary-color-text;
}

@mixin media-title-size {
  font-size: 60px;
  line-height: 60px;
}

@mixin media-secondary-size {
  font-size: 16px;
  line-height: 20px;
}

@mixin background-item {
  background-position: center;
  background-color: $accent-color;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}
