/* здесь используйте глобальные переменные */
$lato: "Lato", sans-serif;
$oswald: "Oswald", sans-serif;
$base-color-text: #444444;
$primary-color-text: #000000;
$accent-color-text: #ffffff;
$promo-color-text: #111111;
$primary-dark-color: #222222;
$base-background: #ffffff;
$secondary-background: #f2f2f2;
$special-background: #eaeaea;
$accent-color: #68b738;
$accent-dark-color: #666666;
$line-color: #e6e6e6;
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
