/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/visually-hidden.scss";
@import "./blocks/button.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/promo.scss";
@import "./blocks/main-container.scss";
@import "./blocks/program.scss";
@import "./blocks/advantages.scss";
@import "./blocks/stats.scss";
@import "./blocks/slider.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/contacts.scss";
@import "./blocks/location.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/catalog.scss";
@import "./blocks/card.scss";
@import "./blocks/more-cards.scss";
@import "./blocks/products.scss";
@import "./blocks/gift.scss";
@import "./blocks/subscribe.scss";
