.button {
  display: block;
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  margin: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  background-color: #5eaa2f;
  color: #8ec36d;
}

.button--accent {
  @include accent-mix-button;
}

.button--more {
  display: block;
  background-color: $secondary-background;
  color: $base-color-text;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

.button--more:hover {
  background-color: #ebebeb;
}

.button--more:active {
  background-color: #ebebeb;
  color: #444444;
}
