.card__link {
  text-decoration: none;
  color: $primary-dark-color;
}

.card__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__button--current {
  background-image: url("../../icons/plus.svg");
  background-repeat: no-repeat;
  background-color: inherit;
  width: 30px;
  height: 30px;
  border: none;
}

.card__info {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    @include media-secondary-size;
  }
}

.card__info--more {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
