.card {
  padding: 20px 20px 25px;

  @media (min-width: $tablet-width) {
    padding: 0 37px 40px;
    background-image: linear-gradient(#ffffff 81px, #f2f2f2 81px);
  }

  @media (min-width: $desktop-width) {
    padding: 10px 38px 40px;
  }
}

.card__container {
  margin: 0 auto;
  display: flex;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin: 0 auto 32px;
  }

  @media (min-device-width: $desktop-width) {
    gap: 12px;
    margin: 0 auto 37px;
  }
}

.card__link {
  display: flex;
  width: 140px;
  height: 107px;
  padding: 0;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 250px;
    height: 242px;
    padding: 4px 0 12px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
    padding: 19px 0;
  }
}

.card__link--big {
  @media (min-width: $tablet-width) {
    padding: 0 26px 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.card__image {
  @media (min-width: $desktop-width) {
    display: block;
  }
}

.card__header {
  text-decoration: none;
  color: $primary-dark-color;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.card__block {
  width: 140px;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.card__title {
  width: 76px;
  margin: 0 0 14px;
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 13px;
    padding-right: 3px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 18px;
  }
}

.card__button {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include media-secondary-size;
    margin: 0;
    padding: 6px 0 5px;
    border-bottom: 1px solid #9d9d9d;
  }
}
