.contacts__wrapper {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;
  gap: 17px;
  background-color: $base-background;

  @media (min-width: $tablet-width) {
    padding: 60px 70px 40px;
    gap: 306px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    position: absolute;
    background-color: $base-background;
    width: 565px;
    height: 199px;
    padding: 60px 78px 58px 79px;
    top: 96px;
    gap: 87px;
    right: calc(1220px - 456px);
    z-index: 2;
  }
}

.contacts__promo {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $promo-color-text;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include media-secondary-size;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    gap: 18px;
  }
}
