.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $base-color-text;

  @include media-secondary-size;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 23px;
  }
}

.copyright__image {
  display: block;
  mask-image: url("../../icons/icon-html-academy.svg");
  background-color: $accent-dark-color;
  width: 27px;
  height: 34px;
}

.copyright__link:hover .copyright__image,
.copyright__link:focus-visible .copyright__image {
  background-color: $accent-color;
}

.copyright__link:active {
  opacity: 0.3;
}
