.header__background {
  @media (min-width: $desktop-width) {
    background-image: url("../../images/promo-background-desctop@2x.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
  }
}
