.logo {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 174px;
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    max-width: 202px;
    gap: 14px;
  }
}

.logo__link--header {
  width: 101px;
  height: 20px;
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 118px;
  }
}

.logo__link--catalog {
  @media (max-width: $mobile-width) {
    padding-top: 5px;
  }
}

.logo__link--footer {
  display: flex;
  width: 128px;
  height: 24px;

  @media (min-width: $tablet-width) {
    height: 38px;
  }

  @media (min-width: $desktop-width) {
    height: 33px;
  }
}

.logo__image {
  display: block;
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.logo__text {
  display: block;
}

.logo__footer {
  color: #111111;
}

.logo__footer:hover {
  color: #3e3e3e;
}

.logo__footer:active {
  color: #6b6b6b;
}
