.main-header__lining {
  display: flex;
  border-bottom: 1px solid $line-color;
}

.main-header__toggle::after {
  content: "";
  background-image: url("../../icons/close-button.svg");
  width: 18px;
  height: 18px;
  display: block;
}
