.main-nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;
  padding-bottom: 14px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 64px;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 74px;
  }
}

.main-nav__logo:hover {
  opacity: 0.8;
}

.main-nav__logo:active {
  opacity: 0.6;
}

.main-nav__toggle--open {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  margin-left: auto;
  background-color: $base-background;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__toggle--open::after {
  @media (max-width: $mobile-width) {
    content: "";
    mask-image: url("../../icons/open-button.svg");
    background-color: $primary-color-text;
    width: 24px;
    height: 24px;
    display: block;
  }
}

.main-nav__toggle--closed {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  margin-left: auto;
  background-color: $base-background;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle--closed::after {
  @media (max-width: $mobile-width) {
    content: "";
    mask-image: url("../../icons/closed-button.svg");
    background-color: $primary-color-text;
    width: 24px;
    height: 24px;
    display: block;
  }
}

.main-nav__toggle--nojs {
  display: none;
}
