.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
  background-color: $base-background;
  margin: 0;
}
